@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Online Banking</h1>
    <p class="lead">This is an online banking web application using ASP.NET Core MVC.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>System Messages</h2>
        <p>News and System Messages from the Bank.</p>
    </div>
    <div class="col-md-4">
        <h2>Account Balance</h2>
        <p>Information about Current Account Balance Here: </p>
    </div>
    <div class="col-md-4">
        <h2>Recent Alerts</h2>  <!-- Recent 5 Alerts -->
        <table class="table table-condensed table-hover" style="width:400px">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Reason for Alert</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Alerts v in ViewBag.AlertsData)
                {
                    <tr>
                        <td>@v.TransDate</td>
                        <td>@v.AlertReason</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recent Transactions</h2>
        <table class="table table-condensed table-hover" style="width:600px">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Transactions v in ViewBag.TransactionsData)
                {
                    <tr>
                        <td>@v.TransDate</td>
                        <td>@v.TransDesc</td>
                        <td>@v.Amount</td>
                        <td>@v.Balance</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>