@model IEnumerable<asp_core_mvc.Models.Reports>

@{
    ViewBag.Title = "Reports";
}

<h1>@ViewBag.Title</h1>

<p>Reports</p>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Alerts</th>
            <th>Times Tripped Today</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Reports v in ViewBag.ReportsData)
        {
            <tr>
                <td>@v.Alert</td>
                <td>@v.TimesRecently</td>
            </tr>
        }
    </tbody>
</table>

<p>Previous Reports</p>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Alerts Tripped in Time Period</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Reports v in ViewBag.PrevReportsData)
        {
            <tr>
                <td>@v.StartDate</td>
                <td>@v.EndDate</td>
                <td>@v.AlertsInTimePeriod</td>
            </tr>
        }
    </tbody>
</table>
