@model IEnumerable<asp_core_mvc.Models.Alerts>

@{
    ViewBag.Title = "Alerts";
}

<h1>@ViewBag.Title</h1>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Reason for Alert</th>
            <th>Desc</th>
            <th>Location</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Alerts alert in Model)
        {
        <tr>
            <td>@alert.TransDate</td>
            <td>@alert.AlertReason</td>
            <td>@alert.TransDesc</td>
            <td>@alert.Location</td>
            <td>@String.Format("{0}{1:0.00}", alert.TransType, alert.Amount)</td>
            <td>@String.Format("{0:0.00}", alert.Balance)</td>
        </tr>
        }
    </tbody>
</table>

